# Claim DAG

{% for claim in claims -%}
[{{ claim.id }}]: {{ claim.anchor }}
{% endfor %}

# Edges

{% for edge in edges -%}
{% for source in edge.from -%}
[{{ source }}] -> [{{ edge.to }}] # {{ edge.id }}
{% endfor -%}
{% endfor %}

